$child-div-width: 25%; // 100% / 4 children = 25% each
$sidebar-bg-color: #000000; // Black color
$active-bg-color: #000000;
$secondarycolor-bg-color: #e9e5e5;


/* Box variables */
$box-bg-color: #f5f7fb;
$box-padding: 20px;
$box-border-radius: 10px;
$box-width: 100%;
$box-height: 100%;
