$child-div-width: 50%; // 100% / 4 children = 25% each
$sidebar-bg-color: #000000; // Black color
$active-bg-color: rgb(45, 45, 206);
$secondarycolor-bg-color: #f5f7fb;
$navcolor-color:white;

$secondarytextcolor-color: #b7bfcb;
$success-color: #4ee00a;
$fail-color: #eb1b1b;
$companycolor-color:blue;


/* Box variables */
$box-bg-color: #ffff;
$box-padding: 20px;
$box-border-radius: 10px;
$box-width: 46%;
$box-height: auto;

/* Header variables */
$header-display:flex;

/* Responsive variables*/


/* Invoice variables */





