@import 'variables';
@import 'base'; 
@import 'header';


.logo img {width: 100%;}

.allcontent  {
    display: flex;
}





.content-area {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.topbar {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    width: 100%;  // Ensure the topbar spans the entire content-area width
    box-sizing: border-box;  // Include padding in the width
}

.maincontent {
    padding-left: 20px;
    padding-top: 25px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    background-color: $secondarycolor-bg-color;
}

.box {
    background-color: $box-bg-color;
    padding: $box-padding;
    border-radius: $box-border-radius;
    width: $box-width;
    height: $box-height;
}

.invoice {
    background-color: $box-bg-color;
    padding: $box-padding;
    border-radius: $box-border-radius;
    width: 99%;
    height: $box-height;

}
.searchbar {display: flex;
justify-content: flex-end;}

.market {
    display: flex;
    justify-content: space-around;
}

.header {
    display: flex;
    justify-content: space-between;
    
}



.material-symbols-outlined {
    font-size: 24px;
    color: black; // Ensure the color is visible
}

.market {
    color: $secondarytextcolor-color;
}

.revenue,
.transaction,
.visitors,
.products {
    color: $secondarytextcolor-color;
}

.utility {
    display: flex;
    padding: 0px 0px 0px 950px;
    gap: 25px
}